/* FONTS ---------------------------------------------------- */

@font-face {
    font-family: 'PaluiSPDemo-Bold';
    src: url("fonts/PaluiSPDemo-Bold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eitai'; 
    src: url("fonts/Eitai.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}





/* THEMES --------------------------------------------------- */

.title-theme {
    font-family: "Eitai";
    font-weight: bold;
    font-size: 12pt;
    color: #05cefe;
}

.main-text-theme {
    color: #ffffff;
    font-family: "Eitai";
    font-size: 12px;
}

.side-text-theme {
    color: #666666;
    font-family: "Eitai";
}

.link-theme {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

.link-theme:hover {
    color: #05cefe;
}

.link-theme.active {
    color: #05cefe;
}




/* ELEMENTS ------------------------------------------------ */

body {
    margin: 0 auto;
    padding-top: 140px;
    background-color: #1a1a1a;
}

.content {
    padding: 0px 30px;
    text-align: center;
}

.content-style {
    font-family: "Eitai";
    color: #ffffff;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    z-index: 1;
}

.logo {
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-devider {
    background-color: #eee;
    padding: 1px;
}

.tabs {
    background: none;
}

.tab-button {
    display: inline-block;
    vertical-align: middle;
}

.tab-text {
    color: #ffffff;
    font-family: 'PaluiSPDemo-Bold';
}

@media (max-width: 520px) {
    .tab-button {
        padding: 3vw 1.5vw;
        font-size: 2.5vw;
    }
}

@media (min-width: 520px) {
    .tab-button {
        padding: 10pt 10pt;
        font-size: 12px;
    }
}

/* ABOUT ---------------------------------------------------------------------------------- */

.band-photo {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.about-container {
    display: inline-block;
}

.about {
    text-align: justify;
    font-size: 13px;
    line-height: 1.7;
    color: #ffffff;
}

.about-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-text {
    margin-bottom: 50px;
}

.social-list {
    padding: 0;
    margin: 0;
}

.social-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.social-icon {
    width: 20px;
    height: 20px; 
    object-fit: contain;
}

.social-name {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

/* MUSIC ----------------------------------------------------------------------------------------- */

.music-contents {
    display: inline-block;
}


@media (max-width: 480px) {
    .music-contents {
        width: 100%;
    }
}

@media (min-width: 480px) {
    .music-contents {
        width: 360px;
    }
}

.album-card {
    display: block;
    /* overflow: hidden; */
    /* position: relative; */
    border: 1px solid #05cefe;
    box-shadow: 3px 3px 10px #05cefe;
    padding: 10px;
    margin-bottom: 50px;
    transition: all 0.3s;
}

.visible-info {
    display: flex;
}

.hidden-info {
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 100%;
}


.stream-list {
    display: flexbox;
    padding: 0;
    margin: 0;
}

.stream-item {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
}

.stream-icon {
    width: 20px;
    height: 20px; 
    object-fit: contain;
    align-self: center; 
}

.stream-name {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}


@media (pointer: fine) {
    .album-card:hover {
        background-color: #172b2f;
    }
    
    .album-card:hover .hidden-info {
        display: flex;
        position: relative;
    }
}

@media (pointer: coarse) {
    .album-card.expanded {
        background-color: #172b2f;
    }

    .hidden-info {
        display: flex; 
        position: relative;
    }

    .close-button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        vertical-align: middle;
        gap: 5px;
    }

    .close-button svg {
        transition: transform 0.3s;
    }

    .close-button svg.rotated {
        transform: rotateX(180deg);
    }
}

.album-image {
    height: 120px;
    object-fit: contain;
}


.album-info {
    display: flex;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between; 
}

.album-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.album-year, .album-type{
    font-size: 8pt;
}

.album-link {
    display: block;
    cursor: pointer;
    font-size: 10pt;
    text-decoration: none;
    transition: all 0.3s;
    margin: 5px;
}

/* NEWS ------------------------------------------------------------------------- */

.news-contents {
    display: inline-block;
}

@media (max-width: 540px) {
    .news-contents {
        width: 100%;
    }
}

@media (min-width: 540px) {
    .news-contents {
        width: 480px;
    }
}

.news-card {
    width: 100%;
    color: #ffffff;
    border: 1px solid #05cefe;
    box-shadow: 3px 3px 10px #05cefe;
    margin-bottom: 50px;
    text-align: left;
}

.news-card.archive {
    opacity: 30%;
}

.news {
    margin: 10pt;
}

.news-title {
    font-size: 12pt;
    margin-bottom: 20pt;
}

.news-date {
    font-size: 8pt;
    color: #b0b0b0;
    margin-bottom: 1%;
}

.news-text {
    white-space: pre-line; 
    font-size: 10pt;
}






